<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>VitrinaBurg.ru</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/base.css">
  <!--[if lt IE 10]>
  <link href="css/ie9fix.css" rel="stylesheet" />
  <![endif]-->
  <!--[if lt IE 9]>
    <link href="css/normalize.ie.css" rel="stylesheet" />
    <link href="css/iefix.css" rel="stylesheet" />
  <![endif]-->
  <script src="js/jquery-1.7.1.min.js"></script>
  <script src="js/jquery.jcarousel.min.js"></script>
  <script src="js/funcs.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="base-width">
        <div class="top-banner"><a href="#"><img src="images/must_be_deleted/top_banner.jpg" width="728" height="90" alt=""></a></div>
        <div class="auth-box">
          <div class="social">
            войти через:
            <a class="auth-vk" href="#" title="вконтакте">вконтакте</a>
            <a class="auth-fb" href="#" title="facebook">facebook</a>
            <a class="auth-tw" href="#" title="twitter">twitter</a>
            <a class="auth-gg" href="#" title="google+">google+</a>
          </div>
          <a href="#">войти на сайт</a><br>
          <a href="#">зарегистрироваться</a>
        </div>
        <a href="#"><img class="logo" src="images/logo.png" width="275" height="47" alt="VitrinaBurg.ru"></a>
      </div>
    </div>
    <div id="main-menu" class="gradient1">
      <div class="base-width">
        <form class="search-form" action="/">
          <fieldset>
            <table>
              <tr>
                <td class="label"><label for="keywords">Поиск</label></td>
                <td class="inputs">
                  <div>
                    <input type="text" name="keywords" id="keywords">
                    <input class="gradient2" type="submit" value="Искать">
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
        <ul>
          <li><a href="#">Магазины</a></li>
          <li class="active- gradient1-revert"><a href="#">Для женщин</a></li>
          <li><a href="#">Для мужчин</a></li>
          <li><a href="#">Для детей</a></li>
          <li><a href="#">Обувь</a></li>
          <li><a href="#">Акции</a></li>
          <li><a href="#">Создать стиль</a></li>
        </ul>
      </div>
    </div>

    <div id="inner-page">
      <div class="base-width clearfix">
        <div class="main-col">
          <div class="page-path">
            <a href="#">Главная страница</a>
            <a href="#">Для женщин</a>
            <a href="#">Верхняя одежда</a>
          </div>
          <div class="forum">
            <h1>Общение на витрине</h1>
            <div class="f-top-bar">
              <div class="pages">
                <span>Всего: 5311, показано с 1 по 40</span>
                <b class="gradient1">1</b>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <em>...</em>
                <a href="#">211</a>
                <a href="#">212</a>
              </div>
              <a href="#" class="f-button gradient1">Создать тему</a>
            </div>

            <div class="f-list-head clearfix">
              <div class="cell-theme">Название</div>
              <div class="cell-author">Автор</div>
              <div class="cell-length">Сообщений</div>
            </div>
            <ul class="f-list">
              <li>
                <div class="cell-theme">
                  <a href="#">Мода на головные уборы в сезоне</a>
                  <div class="pages">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <em>...</em>
                    <a href="#">10</a>
                  </div>
                  <small>последний комментарий: 15 октября, 14:23 от <a href="#">Маняша</a></small>
                </div>
                <div class="cell-author"><a href="#">Антон Козлов</a></div>
                <div class="cell-length">412</div>
              </li>
              <li>
                <div class="cell-theme">
                  <a href="#">Модные тенденции на новый год</a>
                  <div class="pages">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <em>...</em>
                    <a href="#">10</a>
                  </div>
                  <small>оследний комментарий: 15 октября, 14:23 от <a href="#">Антон Козлов</a></small>
                </div>
                <div class="cell-author"><a href="#">Коля Канонист</a></div>
                <div class="cell-length">82</div>
              </li>
              <li>
                <div class="cell-theme">
                  <a href="#">Сочетание красного с зелёным. Кто колхозник, а кто стиляга</a>
                  <small>последний комментарий: 15 октября, 14:23 от <a href="#">Васька Келя</a></small>
                </div>
                <div class="cell-author"><a href="#">Вася Макрмарин</a></div>
                <div class="cell-length">16</div>
              </li>
              <li>
                <div class="cell-theme">
                  <a href="#">Модный тренд на причёски в 2012 году: все будут лысыми.</a>
                  <small>последний комментарий: 15 октября, 14:23 от <a href="#">Петрович</a></small>
                </div>
                <div class="cell-author"><a href="#">Никаноровна</a></div>
                <div class="cell-length">16</div>
              </li>
              <li>
                <div class="cell-theme">
                  <a href="#">Сочетание красного с зелёным. Кто колхозник, а кто стиляга</a>
                  <small>последний комментарий: 15 октября, 14:23 от <a href="#">Васька Келя</a></small>
                </div>
                <div class="cell-author"><a href="#">Вася Макрмарин</a></div>
                <div class="cell-length">16</div>
              </li>
              <li>
                <div class="cell-theme">
                  <a href="#">Мода на головные уборы в сезоне</a>
                  <div class="pages">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <em>...</em>
                    <a href="#">10</a>
                  </div>
                  <small>последний комментарий: 15 октября, 14:23 от <a href="#">Маняша</a></small>
                </div>
                <div class="cell-author"><a href="#">Антон Козлов</a></div>
                <div class="cell-length">412</div>
              </li>
              <li>
                <div class="cell-theme">
                  <a href="#">Модные тенденции на новый год</a>
                  <small>оследний комментарий: 15 октября, 14:23 от <a href="#">Антон Козлов</a></small>
                </div>
                <div class="cell-author"><a href="#">Коля Канонист</a></div>
                <div class="cell-length">82</div>
              </li>
              <li>
                <div class="cell-theme">
                  <a href="#">Сочетание красного с зелёным. Кто колхозник, а кто стиляга</a>
                  <small>последний комментарий: 15 октября, 14:23 от <a href="#">Васька Келя</a></small>
                </div>
                <div class="cell-author"><a href="#">Вася Макрмарин</a></div>
                <div class="cell-length">16</div>
              </li>
              <li>
                <div class="cell-theme">
                  <a href="#">Модный тренд на причёски в 2012 году: все будут лысыми.</a>
                  <small>последний комментарий: 15 октября, 14:23 от <a href="#">Петрович</a></small>
                </div>
                <div class="cell-author"><a href="#">Никаноровна</a></div>
                <div class="cell-length">16</div>
              </li>
              <li>
                <div class="cell-theme">
                  <a href="#">Сочетание красного с зелёным. Кто колхозник, а кто стиляга</a>
                  <small>последний комментарий: 15 октября, 14:23 от <a href="#">Васька Келя</a></small>
                </div>
                <div class="cell-author"><a href="#">Вася Макрмарин</a></div>
                <div class="cell-length">16</div>
              </li>
            </ul>

            <div class="f-bottom-bar">
              <div class="pages">
                <span>Всего: 5311, показано с 1 по 40</span>
                <b class="gradient1">1</b>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <em>...</em>
                <a href="#">211</a>
                <a href="#">212</a>
              </div>
            </div>
          </div>
        </div>
        <div class="left-col">
          <div class="left-new clearfix">
            <h2>Новые коллекции</h2>
            <ul class="clearfix">
              <li>
                <a href="#">
                  <img src="images/must_be_deleted/left_new1.jpg" width="100" height="140" alt="">
                  <span>5 999 руб.</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/must_be_deleted/left_new2.jpg" width="100" height="140" alt="">
                  <span>5 999 руб.</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/must_be_deleted/left_new3.jpg" width="100" height="140" alt="">
                  <span>1 209 руб.</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/must_be_deleted/left_new4.jpg" width="100" height="140" alt="">
                  <span>4 500 руб.</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="left-banner"><img src="images/must_be_deleted/right_banner.jpg" width="240" height="400" alt=""></div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="gradient1">
    <div class="base-width">
      <div class="counters">
        <a href="#"><img src="images/must_be_deleted/counter.png" width="31" height="31" alt=""></a>
      </div>
      <div class="nav">
        <a href="#" class="people-link">72 пользователя он-лайн</a>
        <a href="#" class="people-link">250 гостей</a>
        <ul>
          <li><a href="#">О проекте</a></li>
          <li><a href="#">Размещение рекламы</a></li>
          <li><a href="#">Добавить магазин</a></li>
        </ul>
      </div>
      <div class="about">
        Витринабург - сайт об одежде в магазинах Екатеринбурга<br>
        Размещение рекламы и сотрудничество: (343) 345-93-27, <a href="mailto:adv@vitrinaburg.ru">adv@vitrinaburg.ru</a>
      </div>
    </div>
  </div>
</body>
</html>