.v-form {
    border-top: 2px solid #E5E5E5;
    padding: 20px;
}

.v-form .form-row {
    padding: 0 0 10px 0;
}

.v-form label {
    padding: 0 0 4px 0;
    display: block;
}

.v-form textarea {
    width: 60%;
    height: 120px;
}

.v-form .error textarea {
    border: 1px solid #C72E5E;
}

.v-form .error input {
    border: 1px solid #C72E5E;
}

.v-form .error .form-row__error {
    display: block;
    padding: 4px 0;
    color: #C72E5E;
}

.v-form .form-row__error {
    display: none;
}

.v-form .buttons .input {
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    font: 10px/22px arial;
    height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}
