<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>VitrinaBurg.ru</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/base.css">
  <!--[if lt IE 10]>
  <link href="css/ie9fix.css" rel="stylesheet" />
  <![endif]-->
  <!--[if lt IE 9]>
    <link href="css/normalize.ie.css" rel="stylesheet" />
    <link href="css/iefix.css" rel="stylesheet" />
  <![endif]-->
  <script src="js/jquery-1.7.1.min.js"></script>
  <script src="js/jquery.jcarousel.min.js"></script>
  <script src="js/funcs.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="base-width">
        <div class="top-banner"><a href="#"><img src="images/must_be_deleted/top_banner.jpg" width="728" height="90" alt=""></a></div>
        <div class="auth-box">
          <div class="social">
            войти через:
            <a class="auth-vk" href="#" title="вконтакте">вконтакте</a>
            <a class="auth-fb" href="#" title="facebook">facebook</a>
            <a class="auth-tw" href="#" title="twitter">twitter</a>
            <a class="auth-gg" href="#" title="google+">google+</a>
          </div>
          <a href="#">войти на сайт</a><br>
          <a href="#">зарегистрироваться</a>
        </div>
        <a href="#"><img class="logo" src="images/logo.png" width="275" height="47" alt="VitrinaBurg.ru"></a>
      </div>
    </div>
    <div id="main-menu" class="gradient1">
      <div class="base-width">
        <form class="search-form" action="/">
          <fieldset>
            <table>
              <tr>
                <td class="label"><label for="keywords">Поиск</label></td>
                <td class="inputs">
                  <div>
                    <input type="text" name="keywords" id="keywords">
                    <input class="gradient2" type="submit" value="Искать">
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
        <ul>
          <li><a href="#">Магазины</a></li>
          <li class="active- gradient1-revert"><a href="#">Для женщин</a></li>
          <li><a href="#">Для мужчин</a></li>
          <li><a href="#">Для детей</a></li>
          <li><a href="#">Обувь</a></li>
          <li><a href="#">Акции</a></li>
          <li><a href="#">Создать стиль</a></li>
        </ul>
      </div>
    </div>

    <div id="inner-page">
      <div class="base-width clearfix">
        <div class="main-col">
          <ul class="cat-brends clearfix">
            <li><a href="#"><img src="images/must_be_deleted/logo_1.png" width="88" height="20" alt=""></a></li>
            <li><a href="#"><img src="images/must_be_deleted/logo_2.png" width="89" height="50" alt=""></a></li>
            <li><a href="#"><img src="images/must_be_deleted/logo_3.png" width="90" height="39" alt=""></a></li>
            <li><a href="#"><img src="images/must_be_deleted/logo_1.png" width="88" height="20" alt=""></a></li>
            <li><a href="#"><img src="images/must_be_deleted/logo_4.png" width="100" height="25" alt=""></a></li>
            <li><a href="#"><img src="images/must_be_deleted/logo_2.png" width="89" height="50" alt=""></a></li>
          </ul>
          <div class="page-path">
            <a href="#">Главная страница</a>
            <a href="#">Для женщин</a>
            <a href="#">Верхняя одежда</a>
          </div>
          <ul class="cat-list">
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_1.jpg" width="120" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_2.jpg" width="120" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_3.jpg" width="121" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_4.jpg" width="105" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_5.jpg" width="120" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_6.jpg" width="143" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_7.jpg" width="143" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_8.jpg" width="120" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_1.jpg" width="120" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_2.jpg" width="120" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_9.jpg" width="144" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
            <li>
              <a href="#"><img src="images/must_be_deleted/cat_4.jpg" width="105" height="200" alt=""></a>
              <b>1 890 рублей</b>
              <a href="#">Иралекс. Кожа и Меха</a>
            </li>
          </ul>
          <div class="more-">
            <a href="#" class="gradient1">Показать еще</a>
          </div>
        </div>
        <div class="left-col">
          <ul class="cat-menu">
            <li class="cm-l1"><a href="#" class="cm-l1">Для детей</a> <small class="cm-l1">(162)</small></li>
            <li class="cm-l1 opened-">
              <a href="#" class="cm-l1">Для женщин</a> <small class="cm-l1">(3243)</small>
              <ul class="cm-submenu">
                <li class="cm-l2"><a href="#" class="cm-l2">Аксессуары</a> <small class="cm-l2">(62)</small></li>
                <li class="cm-l2"><a href="#" class="cm-l2">Одежда</a> <small class="cm-l2">(562)</small></li>
                <li class="cm-l2 opened- active- gradient1"><a href="#" class="cm-l2">Верхняя одежда</a> <small class="cm-l2">(412)</small></li>
                <li class="cm-l3"><a href="#">Куртки</a> <small>(12)</small></li>
                <li class="cm-l3"><a href="#">Шубы</a> <small>(982)</small></li>
                <li class="cm-l3"><a href="#">Пальто и плащи</a> <small>(116)</small></li>
              </ul>
            </li>
            <li class="cm-l1"><a href="#" class="cm-l1">Для мужчин</a> <small class="cm-l1">(762)</small></li>
            <li class="cm-l1"><a href="#" class="cm-l1">Обувь</a> <small class="cm-l1">(562)</small></li>
            <li class="cm-l1"><a href="#" class="cm-l1">Ручная работа</a> <small class="cm-l1">(991)</small></li>
          </ul>
          <div class="left-banner"><img src="images/must_be_deleted/right_banner.jpg" width="240" height="400" alt=""></div>
          <div class="vk"><img src="images/must_be_deleted/vk2.jpg" width="240" height="229" alt=""></div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="gradient1">
    <div class="base-width">
      <div class="counters">
        <a href="#"><img src="images/must_be_deleted/counter.png" width="31" height="31" alt=""></a>
      </div>
      <div class="nav">
        <a href="#" class="people-link">72 пользователя он-лайн</a>
        <a href="#" class="people-link">250 гостей</a>
        <ul>
          <li><a href="#">О проекте</a></li>
          <li><a href="#">Размещение рекламы</a></li>
          <li><a href="#">Добавить магазин</a></li>
        </ul>
      </div>
      <div class="about">
        Витринабург - сайт об одежде в магазинах Екатеринбурга<br>
        Размещение рекламы и сотрудничество: (343) 345-93-27, <a href="mailto:adv@vitrinaburg.ru">adv@vitrinaburg.ru</a>
      </div>
    </div>
  </div>
</body>
</html>