<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>VitrinaBurg.ru</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/base.css">
  <!--[if lt IE 10]>
  <link href="css/ie9fix.css" rel="stylesheet" />
  <![endif]-->
  <!--[if lt IE 9]>
    <link href="css/normalize.ie.css" rel="stylesheet" />
    <link href="css/iefix.css" rel="stylesheet" />
  <![endif]-->
  <script src="js/jquery-1.7.1.min.js"></script>
  <script src="js/jquery.jcarousel.min.js"></script>
  <script src="js/funcs.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="base-width">
        <div class="top-banner"><a href="#"><img src="images/must_be_deleted/top_banner.jpg" width="728" height="90" alt=""></a></div>
        <div class="auth-box">
          <div class="social">
            войти через:
            <a class="auth-vk" href="#" title="вконтакте">вконтакте</a>
            <a class="auth-fb" href="#" title="facebook">facebook</a>
            <a class="auth-tw" href="#" title="twitter">twitter</a>
            <a class="auth-gg" href="#" title="google+">google+</a>
          </div>
          <a href="#">войти на сайт</a><br>
          <a href="#">зарегистрироваться</a>
        </div>
        <a href="#"><img class="logo" src="images/logo.png" width="275" height="47" alt="VitrinaBurg.ru"></a>
      </div>
    </div>
    <div id="main-menu" class="gradient1">
      <div class="base-width">
        <form class="search-form" action="/">
          <fieldset>
            <table>
              <tr>
                <td class="label"><label for="keywords">Поиск</label></td>
                <td class="inputs">
                  <div>
                    <input type="text" name="keywords" id="keywords">
                    <input class="gradient2" type="submit" value="Искать">
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
        <ul>
          <li><a href="#">Магазины</a></li>
          <li><a href="#">Для женщин</a></li>
          <li><a href="#">Для мужчин</a></li>
          <li><a href="#">Для детей</a></li>
          <li><a href="#">Обувь</a></li>
          <li><a href="#">Акции</a></li>
          <li><a href="#">Создать стиль</a></li>
        </ul>
      </div>
    </div>
    <div id="main-page">
      <div class="base-width clearfix">
        <div class="c-main-col">
          <div class="cmc-pad">
            <ul class="mp-rubriks">
              <li class="mpr-l1">
                <a href="#" class="mpr-l1-a red">Женская одежда</a>
                <ul>
                  <li><a href="#">Верхняя одежда</a> <small>+26</small>,</li>
                  <li><a href="#">Белье</a> <small>+26</small>,</li>
                  <li><a href="#">Купальники</a> <small>+922</small>,</li>
                  <li><a href="#">Аксессуары</a> <small>+87</small>,</li>
                  <li><a href="#">Одежда для беременных</a>,</li>
                  <li><a href="#">Одежда больших размеров</a> <small>+4</small></li>
                </ul>
              </li>
              <li class="mpr-l1">
                <a href="#" class="mpr-l1-a red">Mужская одежда</a>
                <ul>
                  <li><a href="#">Верхняя одежда</a> <small>+5</small>,</li>
                  <li><a href="#">Белье</a> <small>+26</small>,</li>
                  <li><a href="#">Пляжная мода</a> <small>+26</small>,</li>
                  <li><a href="#">Головные уборы</a> <small>+1</small>,</li>
                  <li><a href="#">Аксессуары</a></li>
                </ul>
              </li>
              <li class="mpr-l1">
                <a href="#" class="mpr-l1-a red">Детская одежда</a>
                <ul>
                  <li><a href="#">Одежда для мальчиков</a> <small>+11</small>,</li>
                  <li><a href="#">Одежда для девочек</a> <small>+85</small>,</li>
                  <li><a href="#">Для новорожденных</a> <small>+26</small>,</li>
                  <li><a href="#">Игрушки и игры</a> <small>+8</small></li>
                </ul>
              </li>
              <li class="mpr-l1">
                <a href="#" class="mpr-l1-a red">Oбувь</a>
                <ul>
                  <li><a href="#">Женская обувь</a> <small>+88</small>,</li>
                  <li><a href="#">Мужская обувь</a> <small>+76</small>,</li>
                  <li><a href="#">Обувь для мальчиков</a> <small>+26</small>,</li>
                  <li><a href="#">Обувь для девочек</a> <small>+81</small></li>
                </ul>
              </li>
            </ul>
            <div class="mp-section">
              <h2>Новые коллекции <small>Сегодня +34</small></h2>
              <ul class="mp-collections">
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_1.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Снежная коллекция 2012 от магазинов города</a>
                </li>
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_2.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Прикольные коктейльные платья</a>
                </li>
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_3.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Кофты джинсы</a>
                </li>
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_4.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Распродажа шуб от лапландии</a>
                </li>
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_5.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Девчёнки в обтягивающем</a>
                </li>
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_6.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Девчёнки в обтягивающем</a>
                </li>
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_3.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Кофты джинсы</a>
                </li>
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_4.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Распродажа шуб от лапландии</a>
                </li>
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_2.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Прикольные коктейльные платья</a>
                </li>
                <li>
                  <a href="#"><img src="images/must_be_deleted/collection_5.jpg" width="110" height="150" alt=""></a>
                  <a href="#">Девчёнки в обтягивающем</a>
                </li>
              </ul>
            </div>
            <div class="mp-section">
              <h2>Акции и скидки <small>Сегодня +34</small></h2>
              <ul class="mp-actions">
                <li>
                  <div class="mpa-logo">
                    <a href="#"><img src="images/must_be_deleted/logo_1.png" width="88" height="20" alt=""></a>
                  </div>
                  <a href="#">&laquo;Снежная королева&raquo; снова заколдовала цены!</a>
                  <small>20 января</small>
                </li>
                <li>
                  <div class="mpa-logo">
                    <a href="#"><img src="images/must_be_deleted/logo_2.png" width="89" height="50" alt=""></a>
                  </div>
                  <a href="#">Фейерверк скидок от сети магазинов &laquo;Tervolina&raquo;!</a>
                  <small>20 января</small>
                </li>
                <li>
                  <div class="mpa-logo">
                    <a href="#"><img src="images/must_be_deleted/logo_3.png" width="90" height="39" alt=""></a>
                  </div>
                  <a href="#">&laquo;Lady&amp;Gentleman City&raquo; приглашает вас на продолжение новогодней феерии!</a>
                  <small>20 января</small>
                </li>
                <li>
                  <div class="mpa-logo">
                    <a href="#"><img src="images/must_be_deleted/logo_4.png" width="100" height="25" alt=""></a>
                  </div>
                  <a href="#">Accessorize снова дарят вам праздник!</a>
                  <small>20 января</small>
                </li>
              </ul>
            </div>
            <div class="mp-bi-section clearfix">
              <div class="mpbs-col-1">
                <a class="fr red-button gradient1 mr15" href="#">Создать свой образ</a>
                <h2 class="mp-red">Новые образы</h2>
                <div class="mp-images clearfix">
                  <a href="#"><img src="images/must_be_deleted/image_b_1.jpg" width="157" height="157" alt=""></a>
                  <a href="#"><img src="images/must_be_deleted/image_s_1.jpg" width="77" height="77" alt=""></a>
                  <a href="#"><img src="images/must_be_deleted/image_s_2.jpg" width="77" height="77" alt=""></a>
                  <a href="#"><img src="images/must_be_deleted/image_s_3.jpg" width="77" height="77" alt=""></a>
                  <a href="#"><img src="images/must_be_deleted/image_s_4.jpg" width="77" height="77" alt=""></a>
                  <a href="#"><img src="images/must_be_deleted/image_b_2.jpg" width="157" height="157" alt=""></a>
                  <a href="#"><img src="images/must_be_deleted/image_s_5.jpg" width="77" height="77" alt=""></a>
                  <a href="#"><img src="images/must_be_deleted/image_s_6.jpg" width="77" height="77" alt=""></a>
                  <a href="#"><img src="images/must_be_deleted/image_s_7.jpg" width="77" height="77" alt=""></a>
                  <a href="#"><img src="images/must_be_deleted/image_s_8.jpg" width="77" height="77" alt=""></a>
                </div>
                <small>Все образы формируются пользователями из каталога товаров</small>
              </div>
              <div class="mpbs-col-2">
                <h2 class="mp-red">Последние ответы на форуме</h2>
                <ul class="mp-last-forum">
                  <li>
                    <a href="#">Мода на головные уборы в сезоне</a>
                    <small>последний комментарий: 15 октября, 14:23 от <a href="#" class="red">Маняша</a></small>
                  </li>
                  <li>
                    <a href="#">Модные тенденции на новый год</a>
                    <small>последний комментарий: 15 октября, 14:23 от <a href="#" class="red">Антон Козлов</a></small>
                  </li>
                  <li>
                    <a href="#">Сочетание красного с зелёным. Кто колхозник, а кто стиляга.</a>
                    <small>последний комментарий: 15 октября, 14:23 от <a href="#" class="red">Васька Келя</a></small>
                  </li>
                  <li>
                    <a href="#">Модный тренд на причёски в 2012 году: все будут лысыми.</a>
                    <small>последний комментарий: 15 октября, 14:23 от <a href="#" class="red">Петрович</a></small>
                  </li>
                  <li>
                    <a href="#">Сочетание красного с зелёным. Кто колхозник, а кто стиляга.</a>
                    <small>последний комментарий: 15 октября, 14:23 от <a href="#" class="red">Васька Келя</a></small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="c-right-col">
          <div class="right-banner"><a href="#"><img src="images/must_be_deleted/right_banner.jpg" width="240" height="400" alt=""></a></div>
          <h2 class="mp-red">Статьи</h2>
          <ul class="mp-articles">
            <li class="clearfix">
              <a href="#"><img src="images/must_be_deleted/article_1.jpg" width="100" height="67" alt=""></a>
              <p>
                <a href="#">Несколько слов о запонках</a>
                <small>20 января</small>
              </p>
            </li>
            <li class="clearfix">
              <a href="#"><img src="images/must_be_deleted/article_2.jpg" width="100" height="63" alt=""></a>
              <p>
                <a href="#">Меховые тенденции сезона 2011 &mdash; 2012</a>
                <small>20 января</small>
              </p>
            </li>
            <li class="clearfix">
              <a href="#"><img src="images/must_be_deleted/article_3.jpg" width="100" height="57" alt=""></a>
              <p>
                <a href="#">Брюки клеш: озвращение джинсов-колокольчиков</a>
                <small>20 января</small>
              </p>
            </li>
          </ul>
          <div class="vk"><img src="images/must_be_deleted/vk.jpg" width="260" height="306" alt=""></div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="gradient1">
    <div class="base-width">
      <div class="counters">
        <a href="#"><img src="images/must_be_deleted/counter.png" width="31" height="31" alt=""></a>
      </div>
      <div class="nav">
        <a href="#" class="people-link">72 пользователя он-лайн</a>
        <a href="#" class="people-link">250 гостей</a>
        <ul>
          <li><a href="#">О проекте</a></li>
          <li><a href="#">Размещение рекламы</a></li>
          <li><a href="#">Добавить магазин</a></li>
        </ul>
      </div>
      <div class="about">
        Витринабург - сайт об одежде в магазинах Екатеринбурга<br>
        Размещение рекламы и сотрудничество: (343) 345-93-27, <a href="mailto:adv@vitrinaburg.ru">adv@vitrinaburg.ru</a>
      </div>
    </div>
  </div>
</body>
</html>