@charset "utf-8";

.mp-collections-photo {  width: 110px; height: 150px; overflow:  hidden; display: block; margin: 0 0 5px;}
.mp-collections img { border: none; margin:  0px;}
.mp-collections li:hover img { border: none; margin-top: -2px; }
.mp-collections li:hover .mp-collections-photo { border: 1px solid #c72e5e; }