@charset "utf-8";

#pageDescriptionFooter {clear: both;}

#inner-page h1 {color: #000000;font: 27px georgia,"times new roman";margin: 0 0 15px;}

.mp-collections-photo {  width: 110px; height: 150px; overflow:  hidden; display: block; margin: 0 0 5px;}
.mp-collections img { border: none; margin:  0px;}
.mp-collections li:hover img { border: none;}
.mp-collections li img {  border: none; }
.mp-collections li .mp-collections-photo { border: 1px solid transparent; }
.mp-collections li:hover .mp-collections-photo { border: 1px solid #c72e5e; }

.cat-list li {float: left;}
.cat-list .cat-list-photo {background-position: center center; background-repeat: no-repeat; display: block; height: 200px; margin: 0 0 7px; width: 150px;}

.gallery li img { border: none; }
.gallery li a:hover img { border: none }
.gallery li a { border: 1px solid transparent; }
.gallery li a { border: 1px solid #d4d4d4; }
.gallery li:hover a { border: 1px solid #c4285c; }
.gallery li a { display:block; height: 100px; overflow: hidden; }
.po-pic {border: none;}

/*
*/
.left-newColl { -webkit-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2); box-shadow: 0 0 15px rgba(0, 0, 0, .2); margin: 0 0 25px; padding: 10px 15px; }
#inner-page .left-newColl h2 { font: bold 14px arial; text-transform: uppercase; color: #9e9e9e; margin: 0 0 10px; }
#inner-page .left-newColl ul { margin: 0 -20px 0 0; padding: 0; list-style: none; }
#inner-page .left-newColl li { float: left; margin: 0 6px 6px 0; padding: 0; }
#inner-page .left-newColl a { display: block; width: 102px; height: 142px; position: relative; width: 100px; height: 150px; overflow: hidden; border: 1px solid transparent; display: block; }
#inner-page .left-newColl a img {}
#inner-page .left-newColl a:hover { border: 1px solid #c72e5e; }
#inner-page .left-newColl span.price { display: block; position: absolute; right: 0px; bottom: 0px; background: #c5295c; color: #fff; padding: 2px 5px; font-size: 11px; }


/*
*/
.user-link {
	background-image: url(../images/b-link-user-icons.png);
    background-position: right 15px;
	background-repeat: no-repeat;
	padding-left: 0px;
	padding-right: 15px;
}

.user-link.vkontakte {
	background-position: right 2px;

}

.user-link.facebook {
	background-position: right -12px;

}

.user-link.twitter {
	background-position: right -26px;

}

.user-link.lj {
	background-position: right -42px;

}