.mp-actions { margin-left: -10px; padding: 10px 0;  }
.mp-actions li { background: url(../images/structure/iefix_sh_bg.png); padding: 0 25px 5px; margin-right: 0; position: relative; width: expression("200px"); }
.mp-actions li .ie-before { position: absolute; top: -20px; left: 0; width: 180px; height: 20px; background: url(../images/structure/iefix_sh_top.png); display: block; }
.mp-actions li .ie-after { position: absolute; bottom: -20px; left: 0; width: 180px; height: 20px; background: url(../images/structure/iefix_sh_bot.png); display: block; }

.left-new { background: url(../images/structure/iefix_l_bg.png) 0 0; margin: 14px -8px 25px; padding: 1px 23px; position: relative; }
.left-new .ie-before { position: absolute; left: 0; top: -22px; background: url(../images/structure/iefix_l_top.png); width: 256px; height: 22px; overflow: hidden; }
.left-new .ie-after { position: absolute; left: 0; bottom: -12px; background: url(../images/structure/iefix_l_bot.png); width: 256px; height: 22px; overflow: hidden; }

.theme { background: url(../images/structure/iefix_t_bg.png) 0 0; margin: 10px -8px 15px; position: relative; }
.theme .message { margin: 0 8px; }
.theme .ie-before { position: absolute; left: 0; top: -5px; background: url(../images/structure/iefix_t_top.png); width: 746px; height: 22px; overflow: hidden; }
.theme .ie-after { position: absolute; left: 0; bottom: -12px; background: url(../images/structure/iefix_t_bot.png); width: 746px; height: 22px; overflow: hidden; }